/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Raleway:wght@200;300;400;500;600;700&display=swap');

// @media only screen and (max-width: 1000px) {
//   * {
//     display: none;
//   }
// }


.html {
  background: #edf0f5;
}
body {
  font-family: 'Open Sans', sans-serif;
  background: #edf0f5;
}

.footer {

  height: 50%;
  background-color: white;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}
.app {
  width: 100%;
  min-width: 940px;
  background: #edf0f5;
}

@media (max-width: 699px) {
  .sidebar-container {
    display: none;
  }
}
// @media (max-width: 800px) {
//   .app {
//     div {
//       width: 100vw;
//       flex-basis: 33%;
//     }
//   }
//   .app * {
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
//     width: 100vw;
//     // .posts-feed {
//     //   width: 85vw;
//     // }
//     word-wrap: break-word;

//   }
//   .footer {
//     width: 100vw;
    
//   }
// }

.homepage {
  padding-top: 8px;
  display: flex;
  justify-content: center;
  width: 100vw;
  max-width: 100%;

}
