$facebook-blue: #1976F2;
$facebook-grey: #F0F2F5;
//edit coment input
.edit-comment-container {

  .edit-comment-form {
    input {
      height: 35px;
      border-radius: 50px;
      // border: 1px solid lightgray;
      border: none;
      // padding: 15px 6px;
      background-color: #F0F2F5;
      width: 90%;
      font-size: 15px;
      font-weight: 100;
      padding: 0 10px;
      margin: 5px 0;
      &:focus-visible {
        outline: none;
        box-shadow: 0 0 0 2px #e7f3ff;
      }
    }
    .edit-comment-btns {
      display: flex;
      flex-direction: row;

      button {
        margin-left: 2px;
        background-color: transparent;
        border: none;
        color: lightgray;
        &:hover {
          color: $facebook-blue;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}

// comment
.comment-container {
  display: flex;
  width: 100%;
  height: auto;
  &:hover {
    .comment-options-btn {
      opacity: 1;
    }
  }
  .comment-options-btn {
    opacity: 0;
  }

  .comment-options-btn {
    width: 25px;
    height: 25px;
    border-radius: 100px;
    background-color: transparent;
    margin-left: 5px;
    align-self: center;
    img {
      max-width: 100%;
      max-height: 100%;
    }
    &:hover {
      cursor: pointer;
      background-color: $facebook-grey;
    }
  }
  .profile-picture {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    object-fit: scale-down;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .comment-content {
    margin-left: 5px;
    border-radius: 20px;
    background-color: $facebook-grey;
    padding: 10px;
    max-width: 85%;
    word-wrap: break-word;
    .author-name {
      font-weight: 600;
      &:hover {
        cursor: pointer;
      }
      margin-bottom: 3px;
    }
  }
  padding: 5px;

  .show-comment-optns-outer {
    z-index: 22;
    background-color: transparent;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .comment-options {
    position: relative;
    top: 45px;
    left: -110px;
    background-color: white;
    border-radius: 5px;
    z-index: 23;
    box-shadow: 0 2px 4px rgba( 0, 0, 0, .1), 0 8px 16px rgba( 0, 0, 0, 0.1);
    width: 200px;
    height: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .arrow-top {
      background-color: white;
      
      width: 15px;
      height: 15px;
      transform: rotateZ(45deg);
      position: absolute;
      top: -5px;
      z-index: 20;
      
    }
    
    > .optn {
      margin: 0 5px;
      padding: 3px;
      border-radius: 5px;
      z-index: 22;
      // width: 100%;
      &:hover {
        cursor: pointer;
        background-color: $facebook-grey;
      }
    }
  }
}

.create-comment-container {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  
  .profile-picture {
    width: 35px;
    height: 35px;
    border-radius: 100px;
    object-fit: scale-down;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
  form {
    width: 100%;
    input {
      height: 35px;
      border-radius: 50px;
      // border: 1px solid lightgray;
      border: none;
      // padding: 15px 6px;
      background-color: #F0F2F5;
      width: 95%;
      font-size: 15px;
      font-weight: 100;
      padding: 0 5px;
      margin-left: 5px;
      &:focus-visible {
        outline: none;
        box-shadow: 0 0 0 2px #e7f3ff;
      }
    }
  }
}