$facebook-grey: #F0F2F5;

.drop-down-full {
  z-index: 24;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}
.drop-down-container {
  z-index: 25;
  width: 20em;
  height: auto;
  // padding: 10px;
  background-color: white;
  position: fixed;
  right: 1.5em;
  top: 55px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba( 0, 0, 0, .1), 0 8px 16px rgba( 0, 0, 0, 0.1);
  
  .drop-down-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    width: 100%;
    a {
      display: flex;
      flex-direction:row;
      justify-content: center;
      align-items: center;
      div {
        margin-left: 8px;
      }
    }
    .bar {
      display: flex;
      flex-direction: row;
      align-items: center;
      // width: 17.2em;
      border-radius: 5px;
      padding: 5px 10px;
      margin: 5px 10px;
      // font-size: 1.1em;
      img {
        // border: 1px solid red;
        width: 3.5em;
        height: 3.5em;
        border-radius: 100%;
      }
      h1 {
        font-weight: 400;
        margin-bottom: 5px;
      }
      span {
        font-weight: 100;
        color: gray;
      }
      &:hover {
        cursor: pointer;
        background-color: lightgray;
      }
    }
    .border {
      border-bottom: 1px solid rgb(172, 171, 171);
      width: 95%;
      margin: 5px 0;
      align-self: center;
    }
    .display-icon {
      border-radius: 100%;
      background-color: $facebook-grey;
      font-size: 19px;
      width: 30px;
      height: 30px;
      // padding: 7px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 8px;
      // text-align: center;

      
    }
    
    .bar:not(:first-child) {
      height: 30px;
      h1 {
        font-size: 15px;
        align-self: center;
      }
    }

    .display-bar:first-child {
      margin-bottom: 5px;
    }
  }
}