.posts-feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

.create-post {
 
  width: 700px;
      background-color: white;
      margin-bottom: 15px;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba( 0, 0, 0, .1), 0 8px 16px rgba( 0, 0, 0, 0.1);
        background-color: white;
      .create-post-top-half {
        display: flex;
        justify-content: space-between;
        //border-bottom: 1px solid lightgray;
        margin-top: 5px;
        padding-bottom: 10px;
        input {
          box-sizing: border-box;
          width: 97%;
          height: 45px;
          border-radius: 50px;
          border: none;
          padding: 4px 8px;
          background-color:#F0F2F5;
          font-size: 17px;
          &:hover {
            cursor: pointer;
          }
           &:focus-visible {
            outline: none;
          }
        }
        .thumbnail-img {
          // display: inline-block;
          width: 45px;
          height: 45px;
          border-radius: 100px;
          object-fit: scale-down;
          overflow: hidden;
          margin-right: 8px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .create-post-button {
        text-align: center;
        button {
          width: 120px;
          height: 30px;
          background: transparent;
          border: none;
          border-radius: 5px;
          font-size: 15px;
          color: #747474;
          padding: 0 10px;
          font-weight: bold;
          margin-top: 5px;
          &:hover {
            background-color: rgba(233, 233, 233, 0.6);
            cursor: pointer;
          }
         
        }
      }
    }
    }