.nav-bar {
  display: flex;
  justify-content: space-between;
  width: max-width;
  height: 40px;
  background-color: white;
  border-bottom: 1px solid lightgray;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0px 5px 8px -10px rgba(0, 0, 0, 0.8);
  padding: 8px 10px;
  align-items: center;
  .left {
    display: flex;
    justify-content: space-between;
    width: 300px;
    img {
      
      width: 35px;
      height: 35px;
      cursor: pointer;
    }
    input {
      box-sizing: border-box;
      height: 35px;
      border-radius: 50px;
      border: 1px solid lightgray;
      padding: 15px 6px;
      background-color: white;
      width: 260px;
      font-size: 15px;
      font-weight: 100;
      &:focus-visible {
        border-color: #1877f2;
        box-shadow: 0 0 0 2px #e7f3ff;
      }
    }
  }
  .middle {
    .buttons-container {
      width: 45px;
      height: 45px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
  .right {
    .nav-buttons-container {
      width: 140px;
      display: flex;
      justify-content: space-between;
      margin-right: 10px;
      .nav-btn{
        width: 30px;
        height: 30px;
        display:inline-block;
        border: none;
        border-radius: 50px;
        font-weight: bold;
        &:hover {
          background-color: #d8d7d7;
          cursor: pointer;
        }

      }
    }
  }
}