$facebook-grey: #F0F2F5;
$facebook-blue: #1976F2;

.notifications-container {
  border: none;
  border-radius: 5px;
  background-color: white;
  width: 20%;
  height: 250px;
  max-height: 250px;
  
  position: fixed;
  right: 10px;
  
  padding: 10px;
  display: flex;
  
  align-items: center;
  flex-direction: column;
  .notifications-header {
    h1 {
      font-weight: 600;
      font-size: 20px;
      padding-bottom: 3px;
    }
    width: 100%;
    border-bottom: 1px solid lightgray;
  }

  .notifications-body {
    width: 100%;
    height: 100%;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

.friend-req-container {
  background-color: $facebook-grey;
  border-radius: 5px;
  padding: 3px;
  width: 100%;
  margin: 3px 0;
  .friend-req-header {
    img {
      width: 20px;
      height: 20px;
      border-radius: 100px;
    }
  }
  button {
    border-radius: 3px;
    border: none;
    font-weight: bold;
    &:hover {
      cursor: pointer;
    }
  }


  .accept-fr {
    background-color: $facebook-blue;
    color: white;
  }

  .decline-fr {
    background-color: lightgray;
  }
}