$facebook-grey: #F0F2F5;

.post-container {
  margin-bottom: 15px;
  padding: 15px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba( 0, 0, 0, .1), 0 8px 16px rgba( 0, 0, 0, 0.1);
  position: relative;
  

}

// POSTS IN GENERAL
.post-top {
  
    display: flex;
    // padding-top: 15px;
    // padding-left: 15px;
    margin-bottom: 7px;
    .post-options-btn {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 10px;
      right: 15px;
      border-radius: 100px;
      background-color: transparent;
      img {
        // object-fit:cover;
        // overflow: hidden;
        // width: 10px;
        // height: 10px;
        max-width: 100%;
        max-height: 100%;
      }
      &:hover {
        background-color: rgba(184, 183, 183, 0.7);
        cursor: pointer;
      }
    }
    .show-post-outer {
      z-index: 10;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
    .post-options {
      width: 100px;
      height: 50px;
      // border: 1px solid red;
      background-color: white;
      border-radius: 5px;
      position: absolute;
      top: 25px;
      right: 20px;
      box-shadow: 0 2px 4px rgba( 0, 0, 0, .1), 0 8px 16px rgba( 0, 0, 0, 0.1);
      padding: 5px;
      z-index: 11;
      .post-options-border {
        border-bottom: 1px solid lightgray;
        margin: 4px 0;
      }
      > div.optn {
        //margin-bottom: 6px;
        border-radius: 3px;
        padding: 3px;
        &:hover {
          cursor: pointer;
          background-color:rgba(184, 183, 183, 0.7);
        }
      }
    }
    .thumbnail {
      width: 46px;
      height: 46px;
      border-radius: 100px;
      object-fit: scale-down;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .post-user-name {
      margin-left: 10px;
      padding-top: 13px;
      font-weight: 600;
      font-size: 15px;
    }
  }
  .post-body {
    .body {
      word-wrap: break-word;
    }
    
  }
  .post-photo {
    // display: flex;
    // justify-content: center;
      // width: 100%;
      max-height: auto;
      margin: auto -15px;
      margin-top: 10px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .likes-counter-container {
      margin: 3px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        margin-right: 3px;
        width: 20px;
        height: 20px;
      }
    }
    .like-bar {
      border-top: 1px solid lightgray;
      border-bottom: 1px solid lightgray;
      display: flex;
      justify-content: center;
      .like-btn {
        border-radius: 5px;
        font-weight: 600;
        font-size: 24px;
        padding: 5px;
        margin: 5px 0;
        color: rgb(121, 120, 120);
        display: flex;
        align-items: center;
        &:hover {
          cursor: pointer;
          background-color: $facebook-grey;
        }
        img {
          margin-right: 5px;
          width: 24px;
          height: 24px;
        }
      }

      .liked {
        color: #1976F2;
        img {
          filter: brightness(1) invert(.65) sepia(.5) hue-rotate(171deg) saturate(300%)
        }
      }

    }