.sidebar-container {
  position: fixed;
  left: .8em;
  top: 70px;

  width: 20%;
  height: 100%;
  
  // border: 1px solid red;
  
}
.s-item {
  // border: 1px solid red;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
  // padding: 1em 2em;
  padding: 1em 0.5em;
  // margin-bottom: 2em;
  // border-bottom: 1px solid lightgray;
  border-radius: 5px;
  a {
    display: flex;
    width: 100%;
    align-items: center;
  }
  h1 {
    margin-left: 5%;
  }
  span {
    i {
      font-size: 1.5em;
      color: #209BEE;
    }
  }
  &:hover {
    cursor: pointer;
    background-color: lightgray;
  }
}

.user-bar {
  display: flex;
  flex-direction: row;
  img {
    border-radius: 100%;
    width: 2em;
    height: 2em;
  }
}